
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
    <nav>
    <ul>
        <li><a href="telaLogin.php">Login</a></li>
        <li><a href="cadastroUsuarioADM.php">Cadastro usuario</a></li>
        <li><a href="cadastroProduto.php">Cadastro produto</a></li>
        <li><a href="cadastroStatus.php">Cadastro Status</a></li>
        <li><a href="cadastroFuncao.php">Cadastro Função</a></li>
        <li><a href="cadastroMovimentacao.php">Cadastro Movimentação</a></li>
        <li><a href="listaProdutosADM.php">Lista produtos</a></li>
        <li><a href="listaProdutosADM.php">Lista produtos</a></li>
        <li><a href="listaStatus.php">Lista Status</a></li>
        <li><a href="listaMovimentacao.php">Lista Movimentação</a></li>
        <li><a href="./controller/logout.php">Sair</a></li>

    </ul>
</nav>
</body>
</html>
